#content {
    width: 300px;
    padding: 10px;
  }
  h1, h2 {
    text-align: center;
  }
  #report {
    margin-bottom: 20px;
  }
  #time-list {
    list-style: none;
    padding: 0;
  }
  #settings {
    text-align: center;
  }
  